/* Colors
Azure Mist: #D9F0FA    
Sky Blue: #78C0E0                               -Ligther
    Blue Bell: #449DD1                                      +
    Ocean Twilight Blue: #3943B7                +
    Navy Blue: #150578                                   +
    Deep Twilight Blue: #0E0E52             -Darker
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #eef2f5;
}
.wrap {
  display: flex;
  height: 100vh;
}
.sidebar {
  width: 220px;
  padding: 16px;
  background: #D9F0FA;
  border-right: 1px solid #ddd;
}

.sidebar h3{
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 25px;
    font-weight: normal;
    color: #0E0E52;
    text-align: left;
}

.sidebar ul{
    /* border: 1px solid #0E0E52;
    height: auto;
    width: 100%;
    border-radius: 15px; */
    list-style: square;
}

.sidebar .users{
    padding: 100px;
    color: #0E0E52;
    text-align: left; 
}

.b-line{
    margin-top: 15px;
    border-top: 1px solid #0E0E52;
}

.name-n-room{
    background-color: #150578;
}

header {
  padding: 12px;
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #eee;  
}

.input-field{
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    border: none;

}

.input-field:focus{
    outline: none;
    box-shadow: 5px 5px 8px #06062b47;
}

.input-field::placeholder{
    opacity: 1;
    transition: .1s all linear;
}

.input-field:focus::placeholder{
    opacity: 0;
}

header .currentRoom{
    font-size: 20px;
    color: #fff;
}

.bottom-form{
    background-color: #150578;
}

.bottom-form .input-field{
    width: 60%;
}

.send-btn{
    border-radius: 10px;
    border: none;
    width: 20%;
    transition: .3s all linear;
}

.send-btn:hover{
    background-color: #0E0E52;
    color: #fff;
    cursor: pointer;
}

.chat {
  flex: 1;
  display: flex;
  flex-direction: column;

}

#messages {
  list-style: none;
  padding: 12px;
  flex: 1;
  overflow: auto;
  margin: 0;
  background: linear-gradient(#fff, #f9fbfd);
}

#messages li {
  margin-bottom: 10px;
}

.message .meta{
  font-weight: 600;
  font-size: 17px;
  padding-right: 10px;
  color: #0E0E52;
}

.message .meta small{
    font-weight: normal;
    font-size: 12px;
    padding-left: 10px;
}

.message .text {
  padding: 6px 10px;
  background-color: #78C0E0;
  display: inline-block;
  border-radius: 10px;
  margin-top: 5px;
  color: #0E0E52;
  
}
.system {
  color: #6666669f;
  font-style: italic;
}
form {
  display: flex;
  padding: 12px;
  gap: 8px;
  background: #fff;
  border-top: 1px solid #eee;
  align-items: center;
  justify-content: space-between;
}
input,
button {
  padding: 8px;
  font-size: 14px;
}
#users {
  list-style: none;
  padding: 0;
  margin-top: 8px;
}
.roomBtn {
  /* margin-right: 6px;
  margin-top: 6px; */
  margin: 5px;
  padding: 10px;
  border: none;
  border-radius: 20px;
  background-color:  #449DD1;
  color: #0E0E52;
  transition: .3s all linear;
  text-transform: uppercase;
  font-weight: bold;
}

.roomBtn:hover{
    background-color: #0E0E52;
    color: #78C0E0;
    cursor: pointer;
}

.roomBtn:focus{
    background-color: #0E0E52;
    color: #78C0E0;
    cursor: pointer;
}

.typing {
  height: 18px;
  padding-left: 12px;
  color: #666;
  font-style: italic;
}